img{
    height: 100px;
    width: 100px;
}
table,th,td{
    /* margin: auto; */
    width: 70%;
    border: 1px solid black;
}

#container{
    margin: auto;
    width: 90%;
    height: 400px;
    /* border: 1px solid red; */
}
div>h2{
    
    text-align: center;
}
#test{
    width: 90%;
    height: 180px;
    /* border: 1px solid red; */
    margin: auto;
}

button{
    /* margin-left: 75px; */
    width: 30%;
    height: 40px;
    border-radius: 5px;

}